In [3]:
import pandas as pd

file_path = "./us_stock_price/stock_market_price.csv"
data = pd.read_csv(file_path)

data['Date'] = pd.to_datetime(data['date'], format='%d-%m-%Y')  # 确保日期列是日期类型
data = data.sort_values(by='Date').reset_index(drop=True)  # 按日期升序排序

# 假设 df 是你的 DataFrame，length 是切片的长度
length = 6  # 你可以自行调整这个值

# 提取所有股票的价格列名和成交量列名
stock_price_columns = [col for col in data.columns if '_Price' in col]
stock_volume_columns = [col.replace('_Price', '_Vol.') for col in stock_price_columns]

# 初始化存储结果的列表
result = []

# 遍历每个股票价格列和对应的成交量列
for price_col, volume_col in zip(stock_price_columns, stock_volume_columns):
    for i in range(0, len(data) - length + 1, length):
        # 生成一个切片
        sliced_data = {
            'Stock': price_col,
            'Date': list(data['Date'].iloc[i:i+length]),
            'Prices': list(data[price_col].iloc[i:i+length]),
            'Volumes': list(data[volume_col].iloc[i:i+length]) if volume_col in data.columns else [None] * length
        }
        result.append(sliced_data)

# 将结果转换为 DataFrame
sliced_df = pd.DataFrame(result)

# 显示结果
print(sliced_df)

                  Stock                                               Date  \
0     Natural_Gas_Price  [2019-02-04 00:00:00, 2019-02-05 00:00:00, 201...
1     Natural_Gas_Price  [2019-02-12 00:00:00, 2019-02-13 00:00:00, 201...
2     Natural_Gas_Price  [2019-02-21 00:00:00, 2019-02-22 00:00:00, 201...
3     Natural_Gas_Price  [2019-03-01 00:00:00, 2019-03-04 00:00:00, 201...
4     Natural_Gas_Price  [2019-03-11 00:00:00, 2019-03-12 00:00:00, 201...
...                 ...                                                ...
3928         Gold_Price  [2023-12-19 00:00:00, 2023-12-20 00:00:00, 202...
3929         Gold_Price  [2023-12-28 00:00:00, 2023-12-29 00:00:00, 202...
3930         Gold_Price  [2024-01-08 00:00:00, 2024-01-09 00:00:00, 202...
3931         Gold_Price  [2024-01-17 00:00:00, 2024-01-18 00:00:00, 202...
3932         Gold_Price  [2024-01-25 00:00:00, 2024-01-26 00:00:00, 202...

                                                 Prices  \
0             [2.66, 2.662, 2.662, 2.551, 2.583, 2.642]
1            [2.688, 2.575, 2.573, 2.625, 2.662, 2.636]
2            [2.697, 2.717, 2.836, 2.855, 2.799, 2.812]
3            [2.859, 2.857, 2.884, 2.841, 2.866, 2.865]
4              [2.772, 2.784, 2.82, 2.855, 2.795, 2.85]
...                                                 ...
3928  [2,042.60, 2,038.10, 2,041.80, 2,059.60, 2,060...
3929  [2,083.50, 2,071.80, 2,073.40, 2,042.80, 2,050...
3930  [2,033.50, 2,033.00, 2,037.50, 2,028.90, 2,061...
3931  [2,015.90, 2,031.10, 2,038.50, 2,031.50, 2,035...
3932  [2,027.10, 2,026.60, 2,034.90, 2,050.90, 2,067...

                                                Volumes
0     [116490.0, 82250.0, 98330.0, 211790.0, 147880....
1     [169230.0, 185480.0, 101560.0, 98410.0, 151750...
2     [97900.0, 35120.0, 80150.0, 14320.0, 94050.0, ...
3     [134660.0, 103660.0, 103060.0, 119630.0, 11700...
4     [136890.0, 90020.0, 101210.0, 85280.0, 82710.0...
...                                                 ...
3928         [470.0, 260.0, 540.0, 440.0, 290.0, 590.0]
3929  [129540.0, 105720.0, 157560.0, 221680.0, 13026...
3930   [220990.0, 218750.0, 130.0, 360.0, 560.0, 480.0]
3931         [180.0, 350.0, 300.0, 330.0, 370.0, 800.0]
3932  [460.0, 410.0, 1780.0, 214590.0, 238370.0, 260...

[3933 rows x 4 columns]

In [6]:
sliced_df.head()

,Stock,Date,Prices,Volumes
0,Natural_Gas_Price,"[2019-02-04 00:00:00, 2019-02-05 00:00:00, 201...","[2.66, 2.662, 2.662, 2.551, 2.583, 2.642]","[116490.0, 82250.0, 98330.0, 211790.0, 147880...."
1,Natural_Gas_Price,"[2019-02-12 00:00:00, 2019-02-13 00:00:00, 201...","[2.688, 2.575, 2.573, 2.625, 2.662, 2.636]","[169230.0, 185480.0, 101560.0, 98410.0, 151750..."
2,Natural_Gas_Price,"[2019-02-21 00:00:00, 2019-02-22 00:00:00, 201...","[2.697, 2.717, 2.836, 2.855, 2.799, 2.812]","[97900.0, 35120.0, 80150.0, 14320.0, 94050.0, ..."
3,Natural_Gas_Price,"[2019-03-01 00:00:00, 2019-03-04 00:00:00, 201...","[2.859, 2.857, 2.884, 2.841, 2.866, 2.865]","[134660.0, 103660.0, 103060.0, 119630.0, 11700..."
4,Natural_Gas_Price,"[2019-03-11 00:00:00, 2019-03-12 00:00:00, 201...","[2.772, 2.784, 2.82, 2.855, 2.795, 2.85]","[136890.0, 90020.0, 101210.0, 85280.0, 82710.0..."

In [4]:
import pandas as pd

input_file = "./us_stock_price/stock_market_price.csv"
output_file = "./stock_market_price.csv"

columns_to_keep = ['date', 'Apple_Price', 'Apple_Vol.']

data = pd.read_csv(input_file, usecols=columns_to_keep)

# data['date'] = pd.to_datetime(data['date'], format='%d-%m-%Y').dt.strftime('%m-%d-%Y')

data.to_csv(output_file, index=False)

print(f"Filtered data saved to {output_file}")

Filtered data saved to ./stock_market_price.csv

In [7]:
input_file = "./us_stock_price/stock_market_price.csv"
output_file = "./stock_market_price.csv"

data = pd.read_csv(input_file)

for col in data.columns[1:]:
    if data[col].dtype == 'object':
        data[col] = data[col].str.replace(',', '').astype(float)

data.to_csv(output_file, index=False)

In [9]:
has_nan = data.isnull().values.any()
print(f"DataFrame contains NaN: {has_nan}")

# 统计每列 NaN 的数量
nan_counts_per_column = data.isnull().sum()
print("\nNaN counts per column:")
print(nan_counts_per_column)

# 统计整个 DataFrame 中 NaN 的总数量
total_nan_count = data.isnull().sum().sum()
print(f"\nTotal number of NaN values: {total_nan_count}")

DataFrame contains NaN: True

NaN counts per column:
date                   0
Natural_Gas_Price      0
Natural_Gas_Vol.       4
Crude_oil_Price        0
Crude_oil_Vol.        23
Copper_Price           0
Copper_Vol.           37
Bitcoin_Price          0
Bitcoin_Vol.           0
Platinum_Price         0
Platinum_Vol.        607
Ethereum_Price         0
Ethereum_Vol.          0
S&P_500_Price          0
Nasdaq_100_Price       0
Nasdaq_100_Vol.        1
Apple_Price            0
Apple_Vol.             0
Tesla_Price            0
Tesla_Vol.             0
Microsoft_Price        0
Microsoft_Vol.         0
Silver_Price           0
Silver_Vol.           47
Google_Price           0
Google_Vol.            0
Nvidia_Price           0
Nvidia_Vol.            0
Berkshire_Price        0
Berkshire_Vol.         0
Netflix_Price          0
Netflix_Vol.           0
Amazon_Price           0
Amazon_Vol.            0
Meta_Price             0
Meta_Vol.              0
Gold_Price             0
Gold_Vol.              2
dtype: int64

Total number of NaN values: 721

In [14]:
columns_to_drop = ["Platinum_Price", "Platinum_Vol.", "Silver_Price", "Silver_Vol.", "Crude_oil_Price", "Crude_oil_Vol.", "Copper_Price", "Copper_Vol."]

data_dropped = data.drop(columns=columns_to_drop)
data_dropped.to_csv(output_file, index=False)

In [19]:
dd = dd.fillna(method='ffill')
dd = dd.fillna(method='bfill')

/tmp/ipykernel_1241007/3108574835.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dd = dd.fillna(method='ffill')
/tmp/ipykernel_1241007/3108574835.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dd = dd.fillna(method='bfill')

In [42]:
dd = pd.read_csv("/root/repo/Informer2020/data_cleaned/sentiment_all_stock_price.csv")
has_nan = dd.isnull().values.any()
print(f"DataFrame contains NaN: {has_nan}")

# 统计每列 NaN 的数量
nan_counts_per_column = dd.isnull().sum()
print("\nNaN counts per column:")
print(nan_counts_per_column)

# 统计整个 DataFrame 中 NaN 的总数量
total_nan_count = dd.isnull().sum().sum()
print(f"\nTotal number of NaN values: {total_nan_count}")

DataFrame contains NaN: False

NaN counts per column:
date                 0
Natural_Gas_Price    0
Natural_Gas_Vol.     0
Bitcoin_Price        0
Bitcoin_Vol.         0
Ethereum_Price       0
Ethereum_Vol.        0
S&P_500_Price        0
Nasdaq_100_Price     0
Nasdaq_100_Vol.      0
Apple_Price          0
Apple_Vol.           0
Tesla_Price          0
Tesla_Vol.           0
Microsoft_Price      0
Microsoft_Vol.       0
Google_Price         0
Google_Vol.          0
Nvidia_Price         0
Nvidia_Vol.          0
Berkshire_Price      0
Berkshire_Vol.       0
Netflix_Price        0
Netflix_Vol.         0
Amazon_Price         0
Amazon_Vol.          0
Meta_Price           0
Meta_Vol.            0
Gold_Price           0
Gold_Vol.            0
sentiment_class      0
dtype: int64

Total number of NaN values: 0

In [25]:
dd.to_csv("/root/repo/Informer2020/data_cleaned/sentiment_apple_stock.csv", index=False)

In [ ]:
dd = dd.fillna(0)

In [43]:
import pandas as pd

# 示例 DataFrame
df_sentiment = pd.read_csv("/root/repo/Informer2020/sentimental/sentiment.csv")

df_apple = pd.read_csv("/root/repo/Informer2020/data_cleaned/stock_market_price.csv")

df_apple['date'] = pd.to_datetime(df_apple['date']).dt.strftime('%m-%d-%y')
df_sentiment['date'] = pd.to_datetime(df_sentiment['date'], format='%m-%d-%y').dt.strftime('%m-%d-%y')

# 去重 sentiment 数据
df_sentiment_unique = df_sentiment.drop_duplicates(subset=['date'], keep='first')

# 合并两张表，保留 Apple 数据的所有日期
merged_df = pd.merge(df_apple, df_sentiment_unique, on='date', how='left')

# 将 sentiment_class 中的 NaN 替换为 0
merged_df['sentiment_class'] = merged_df['sentiment_class'].fillna(0)

merged_df.head()

,date,Natural_Gas_Price,Natural_Gas_Vol.,Bitcoin_Price,Bitcoin_Vol.,Ethereum_Price,Ethereum_Vol.,S&P_500_Price,Nasdaq_100_Price,Nasdaq_100_Vol.,...,Berkshire_Vol.,Netflix_Price,Netflix_Vol.,Amazon_Price,Amazon_Vol.,Meta_Price,Meta_Vol.,Gold_Price,Gold_Vol.,sentiment_class
0,02-02-24,2.079,161340.0,43194.7,42650.0,2309.28,246890.0,4958.61,17642.73,315620000.0,...,10580.0,564.64,4030000.0,171.81,117220000.0,474.99,84710000.0,2053.7,260920.0,0.084
1,02-01-24,2.050,161340.0,43081.4,47690.0,2304.28,323610.0,4906.19,17344.71,240640000.0,...,9780.0,567.51,3150000.0,159.28,66360000.0,394.78,25140000.0,2071.1,260920.0,0.111
2,01-31-24,2.100,142860.0,42580.5,56480.0,2283.14,408790.0,4848.87,17137.24,366450000.0,...,9720.0,564.11,4830000.0,155.20,49690000.0,390.14,20010000.0,2067.4,238370.0,0.076
3,01-30-24,2.077,139750.0,42946.2,55130.0,2343.11,387120.0,4924.97,17476.71,236210000.0,...,9750.0,562.85,6120000.0,159.00,42290000.0,400.06,18610000.0,2050.9,214590.0,-0.041
4,01-29-24,2.490,3590.0,43299.8,45230.0,2317.79,318840.0,4927.93,17596.27,238750000.0,...,13850.0,575.79,6880000.0,161.26,42840000.0,401.02,17790000.0,2034.9,1780.0,0.000

In [44]:
merged_df.to_csv("/root/repo/Informer2020/data_cleaned/sentiment_all_stock_price.csv", index=False)

In [45]:
has_nan = merged_df.isnull().values.any()
print(f"DataFrame contains NaN: {has_nan}")

# 统计每列 NaN 的数量
nan_counts_per_column = merged_df.isnull().sum()
print("\nNaN counts per column:")
print(nan_counts_per_column)

# 统计整个 DataFrame 中 NaN 的总数量
total_nan_count = merged_df.isnull().sum().sum()
print(f"\nTotal number of NaN values: {total_nan_count}")

DataFrame contains NaN: False

NaN counts per column:
date                 0
Natural_Gas_Price    0
Natural_Gas_Vol.     0
Bitcoin_Price        0
Bitcoin_Vol.         0
Ethereum_Price       0
Ethereum_Vol.        0
S&P_500_Price        0
Nasdaq_100_Price     0
Nasdaq_100_Vol.      0
Apple_Price          0
Apple_Vol.           0
Tesla_Price          0
Tesla_Vol.           0
Microsoft_Price      0
Microsoft_Vol.       0
Google_Price         0
Google_Vol.          0
Nvidia_Price         0
Nvidia_Vol.          0
Berkshire_Price      0
Berkshire_Vol.       0
Netflix_Price        0
Netflix_Vol.         0
Amazon_Price         0
Amazon_Vol.          0
Meta_Price           0
Meta_Vol.            0
Gold_Price           0
Gold_Vol.            0
sentiment_class      0
dtype: int64

Total number of NaN values: 0

In [40]:
dd = pd.read_csv("/root/repo/Informer2020/data_cleaned/sentiment_all_stock_price.csv")